.productName {
  margin-left: 5px;
}

.link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 1px;
  /* max-width: 10vw;
  min-width: 10vw;
  min-height: 5vw;
  max-height: 5vw; */
  /* background: red; */
}
.link:hover {
  border-radius: 10px;
  background: rgba(100, 100, 100, 0.5);
}
